:root {
	--dRed: hsl(0, 36%, 70%);
	--sRed: hsl(0, 93%, 68%);
	--dgRed: hsl(0, 6%, 24%);
	--gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
	--gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
}

body {
	height: 100vh;
	background: var(--gradient1);
}

.logo img {
	height: 100%;
	width: 100%;
	width: 120px;
}

.logo {
	margin: 1.5rem 2rem;
}

.image {
	background-image: url(../images/hero-mobile.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 250px;
}

.content {
	font-size: 16px;
	text-align: center;
	margin: 2.5rem auto 9rem;
	max-width: 400px;
	padding: 0 1.5rem;
	color: var(--dRed);
}

h1 {
	font-weight: 300;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-bottom: 1rem;
}

span {
	color: black;
	font-weight: bold;
}

.text {
	margin-bottom: 2rem;
	line-height: 22.4px;
}

.form-control {
	display: flex;
	justify-content: center;
}

#email {
	width: 100%;
	padding-left: 20px;
	background-color: var(--gradient1);
	color: var(--dRed);
}

.btn {
	margin-left: -70px;
	background: var(--gradient2);
	width: 70px;
	box-shadow: 0 10px 15px rgb(230, 204, 204);
	border: none;
}

.btn:hover {
	background: var(--dRed);
}

input,
.btn {
	height: 50px;
	border-radius: 50px;
}

input {
	border: 1px solid var(--dRed);
	font-size: 16px;
}

input:focus {
	/* this removes the black outline when focus on input */
	outline: none;
}

input[type="text"]::placeholder {
	/* Firefox, Chrome, Opera */
	color: hsl(0, 46%, 82%);
	font-size: 16px;
}
/*Must include type="text" in HTML*/

/* if error with email */
.display .error {
	border-color: var(--sRed);
	border-width: 2px;
}

i {
	visibility: hidden;
	color: var(--sRed);
	margin: auto;
	margin-left: -100px;
}

/* error message */
small {
	visibility: hidden;
	font-size: 14px;
	display: flex;
	margin-left: 1.4rem;
	margin-top: 5px;
}

.hide small {
	visibility: hidden;
}

.hide i.fa-exclamation-circle {
	visibility: hidden;
}

/* displayed error message */
.display small {
	visibility: visible;
	color: var(--sRed);
}

/* displaying error icon */
.display i.fa-exclamation-circle {
	color: rgb(228, 89, 64);
	visibility: visible;
}

.footer {
	font-size: 14px;
	text-align: center;
}
.footer a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1150px) {
	body {
		background-image: url(../images/bg-pattern-desktop.svg);
		background-repeat: no-repeat;
		background-size: 70% 100%;
	}
	main {
		display: grid;
		grid-template-areas:
			"logo image"
			"content image";
		grid-template-columns: 4fr 1fr;
		grid-template-rows: 1fr 4fr;
		height: 100vh;
		width: 100vw;
	}

	.logo {
		grid-area: logo;
		margin: auto;
		width: 460px;
		padding: 1.5rem;
	}

	.logo img {
		width: 180px;
	}

	.image {
		grid-area: image;
		background-image: url(../images/hero-desktop.jpg);
		background-size: 100% 100vh;
		width: 750px;
	}

	.content {
		grid-area: content;
		text-align: left;
		max-width: 460px;
		margin: 6rem auto 0;
	}

	h1 {
		font-size: 4.5rem;
	}

	.btn {
		width: 90px;
	}
}
